.bg-vid {
  /* position: fixed; */
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: 0;
}
.cover {
  width: 100vw;
  height: auto;
}
.drawer {
  background-image: url("../../Assests//gold-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 12.5rem;
  width: 100%;
}
.main-container {
  position: absolute;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}
@media only screen and (max-width: 480px) {
  .drawer {
    height: 3.125rem;
  }
  .list {
    padding-left: 0;
  }
  .li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
