.footer-container {
  height: 10.063rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.188rem;
  gap: 2.188rem;
}
@media only screen and (max-width: 480px) {
  .footer-container {
    height: 11.438rem;
  }
  .footer-seg2 {
    flex-direction: column;
  }
}
.footer-seg2 {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  gap: 1.188rem;
  color: #bdbdbdbd;
}
.footer-seg1 {
  font-size: 1.375rem;
}
